{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@Components": "./components",
          "@Styles":"./styles",
          "underscore": "lodash"
        }
      }]
    ]
}