body{
    background:#f7f7f7f7;
    margin: 0;
    margin-bottom: 40px;
}

html {
    min-height: 100%;
    position: relative;
}

.wrap{
    width: 100%;
    display: flex;
}
.wrap > .input-group{
    width: 50%;
}

.wrap > .input-group:nth-child(1){
    width: 50%;
    margin-right:2px;
}

.container-login{
    box-sizing: border-box;
    width: 100%;
    height: 70vh;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
}

.container-gender{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.gender{
    display: none;
}


*{
    box-sizing: border-box;
}
.card-login{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width: 100%;
    border-radius:20px;
    padding: 10px;
    box-sizing: border-box;

}



.yellow{
    color:#fec405;
    font-weight: 500;
}

.input-login{
    width: 100%;
    border:0;
    background: #ececec;
    height: 35px;
    border-radius: 10px;
    outline: none;
    padding: 0px 15px;
    margin-top:5px;
}

.button-con-login, .button-con-login > button {
    margin:0 auto;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color:#fff;
}
.form-group-login{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-con-login-fb, .button-con-login-fb > button{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px auto;
    align-items: center;
    border-radius: 10px;
}

.button-con-login-fb > button{
    background: #3f51b5;
}

.button-con-login-fb > button > img{
    width: 20px;
}

.input-group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-group label{
    width: 80%;
    color:#bdbdbd;
    margin-bottom: 10px;
}

.container-gender .radio{
    display: inline-block;
    position: relative;
    top:14px;
    border: 2px solid #fec405;
    width: 18px;
    padding: 5px;
    height: 18px;
    background: #fff;
    cursor: pointer;
    border-radius: 50px;
    right: 5px;
}

input[type='date']{
    color:#bdbdbd;
}

.gender:checked ~ .radio{
    background-color: #fec405;
    padding: 5px;

}

.text-midle-button{
    display:flex;
    text-align: center;
}

.text-midle-text{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

hr{
    width: 50%;
    height: 1px;
}

.h1{
    font-size: 20px;
    font-weight: 700;
}

.middle-text{
    font-size: 15px;
}

.h1, .middle-text{
    text-align: center;
    width: 70%;
}


.title-login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.title-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 600;
}

button{
    background: #fec405;
    border:0;
    outline: none;
    padding: 10px 20px;
    height: 50px;
    border-radius: 50px;
}

.link-black{
    color:#000;
    text-decoration: none;
}

@media screen and (min-width:1024px){
    .card-login{
        box-sizing: border-box;
        width:70%;
        margin:5px auto;
    }
}

#register{
    display: none;
}
