.container-ordenes{
    width: 90%;
    margin:10px auto;
}

.container-datos-ordenes{
    padding: 5px;
    width: 90%;
    display: flex;
    margin:0px auto;
    justify-content: center;
    align-items: center;
}

.btn-ordenes{
    background:#fec405;
    border-radius: 5px;
    font-weight: normal;
    color:#fff;
    padding: 1px 2px;
    height: 30px;
}

.seccion2-order{
    margin-top: 10px;
}

.seccion2-order, .seccion1-order{
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 15px -7px rgba(0,0,0, 0.2);
    border-radius:10px 10px 0px 0px;
}

.seccion2-order{
    border-radius:0px 0px 10px 10px;
}

.detail-order{
    background: #fff;
    padding: 15px;
    margin-left: -10px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px -2px rgba(0,0,0, 0.2);
}

.info-order-date{
    width: 60%;
}

.tacoimg{
    width: 25px;
    height: 25px;
}


.form-order{
    display: flex;
    align-items: center;
}


.w-60{
    width: 60%;
}

.w-30{
    width: 30%;
}

.pay-method{
    display: flex;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
}

.checkbox-label-order{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border:1px solid #fec405;
}

#checkbox{
    display: none;
}

#checkbox:checked ~ .checkbox-label-order{
    background: url('../img/checkmark.png') #fec405;
    background-size: 100% 100%;
}

.mt-5{
    margin-top: 5px;
}

.order-colum{
    width: 40%;
}

.d-flex{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}


.price-order{
    width: 30px;
}

.disabled{
    background: #ececec;
    color:#000;
}

.footer-order-info{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}

.list-order{
    background: transparent;
    display: block;
}

.list-order > li{
    width: 100%;
    margin-top: 10px;
}

.titulo-detail{
    width: 100%;
    text-align: center;
}

.text-center{
    margin-top:60px;
    width: 100%;
    text-align: center;
}

.footer-datil{
    width: 100%;
    text-align: center;
}