@font-face{
    font-family:'Scanno';
    src:url('fonts/Scanno-Medium.otf');
}

@font-face{
    font-family:'Scanno bold';
    src:url('fonts/Scanno-SemiBold.ttf');
}

body{
    background:#f7f7f7f7;
    margin: 0;
    font-family: 'Scanno';
}

html {
    min-height: 100%;
    position: relative;
}
.app{
    width: 100%;
    background: #f7f7f7f7;
}

.search{
    position: sticky; 
    top:0;
    z-index: 3000;
    background: #ececec;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5px 0.5px 7px rgba(0,0,0, 0.3);
}

.search-input{
    background: #fff;
    border:1px solid #fff;
    padding: 5px 10px;
    color:#f7f7f7f7;
    border-radius: 10px;
    font-family: 'Scanno';
    outline: none;
    width: 82%;
}

.circle-icon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.search-icon{
    margin-left:-25px;
    margin-top:3px;
}

.white{
    color:#fff;
}

.container-head{
    display: flex;
    flex-wrap: wrap;
}

.text-card-footer span:nth-child(1){
    color:#222;
    text-decoration: none;
}

.seccion-head{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.seccion-head:nth-child(1){
    background:#fec405;
    width:auto;
    padding:5px 10px;
    border-radius:10px;
    margin: 0 auto;
}

.seccion-head:nth-child(2){
    margin-top: 20px;
}

.container{
    width: 90%;
    margin: 0px auto 0px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.card{
    background: #ececec;
    width: 270px;
    border-radius: 10px;
    height: 150px;
    margin: 5px;
    border-radius: 20px;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 100%;
}

.cards-container{
    width: 100%;
    overflow: auto;
    justify-content: center;
}

.ul-card{
    background:transparent;
    display: inline-flex;
}

.yellow path{
    fill:#fec405;
}

.ul-card > li{
    display: inline;
}

.container-navmidle ul{
    opacity: 0.94;
    width: 85%;
    box-shadow: 0.5px 0.5px 0px rgba(0,0,0, 0.2);
    border-radius:10px;
    display: flex;
    justify-content: center;
}

ul{
    background: #ececec;
    padding: 5px;
}

.footer-icon-user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30px;
}

.footer-icon-user .iconuser{
    height: 100%;
}


ul li{
    display: inline-flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    font-weight: 500;
}

.container-navmidle{
    display: inline-flex;
    width: 100%;
    margin-top: 5px;
    justify-content: center;
    position: sticky;
    top:100px;
    z-index:2000;
}


.love{
    width: 20px;
    position: absolute;
    right: 10px;
    float:right;
    top: 10px;
    color:#fff;
}

.title{
    font-size: 50px;
    font-weight: 600;
}

.red{
    color:#fec405;
}


.middle-text{
    font-size: 25px;
    font-weight: 600;
}


.title-tex{
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;
    margin-left:15px;
}

.title-tex label{
    width: 100%;
    font-family:'Scanno bold';
    font-weight: 900;
    font-size:20px;
}

.cards-list{
    background: #ececec;
    width: 100%;
    height: 160px;
    border-radius: 20px;
    padding-bottom: 2px;
    margin-top: 15px;
}

a{
    color:#fff;
    text-decoration: none;
}

.card-img{
    height: 130px;
    background: rgb(26, 22, 22);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.card-image{
    width: 100%;
    height: 100%;
}

@supports(object-fit: cover){
    .card-img .card-image{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    /*.card img{
        width: 100%;
        object-fit: cover;
        object-position: center center;
        width: 100%;
    }*/
}

.text-card-footer{
    font-weight: 750;
    display: flex;
    justify-content: space-around;
}

.active{
    color:#fec405;
    font-weight: 500;
}

.footer{
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 40px;
    left:0;
    align-self: flex-end;
    z-index: 3000;
}

.footer ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #ececec;
    color:#fff;
}

.center{
    width: 90% !important;
    margin: 5px auto;
}

.box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

.ListCard-container{
    width: 100%;
}

.close{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    background: rgba(0,0,0, 0.6);
}

@media screen and (min-width:1024px){
    .ListCard-container{
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cards-list{
        width:45%;
        margin: 14px;
    }

    .card{
        width: 80%;
    }

    .footer ul{
        width: 50%;
    }
}