body{
    background:#f7f7f7f7;
    margin: 0;
    margin-bottom: 40px;
}

html {
    min-height: 100%;
    position: relative;
}
.app{
    width: 100%;
    background: #f7f7f7f7;
}

.search{
    background: #222;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input{
    background: #222;
    border:1px solid #fff;
    padding: 5px 10px;
    color:#f7f7f7f7;
    border-radius: 10px;
    outline: none;
}

.circle-icon{
    width: 30px;
    height: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left:5px;
}

.white{
    color:#fff;
}

.container-head{
    display: flex;
    flex-wrap: wrap;
}

.text-card-footer span:nth-child(1){
    color:#222;
    text-decoration: none;
}

.seccion-head{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.seccion-head:nth-child(2){
    margin-top: 20px;
}

.container{
    width: 90%;
    margin: 5px auto;
}

.card{
    background: #ececec;
    padding: 5px;
    width: 50%;
    border-radius: 10px;
    height: 200px;
    margin: 5px;
}

.cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

ul{
    background: #ececec;
    padding: 5px;
    border-radius: 10px;
}

ul li{
    display: inline-flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    font-weight: 500;
}

.container-navmidle{
    display: inline-flex;
    width: 100%;
    margin-top: 5px;
    justify-content: center;
    position: sticky;
    top:0;
}

.love{
    width: 20px;
    position: absolute;
    right: 10px;
    float:right;
    top: 10px;
    color:#fff;
}

.title{
    font-size: 50px;
    font-weight: 600;
}

.middle-text{
    font-size: 25px;
    font-weight: 600;
}

.title-tex label{
    display: flex;
    width: 100%;
}

.cards-list{
    background: #ececec;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    padding-bottom: 2px;
    margin-top: 15px;
}

a{
    color:#fff;
}

.card-img{
    height: 120px;
    background: rgb(26, 22, 22);
    border-radius: 20px;
    position: relative;
}

.text-card-footer{
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}

.active{
    color:#fec405;
    font-weight: 500;
}

.footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    left:0;
}

.footer ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #222;
    color:#fff;
    border-radius: 30px 30px 0 0;
}

@media screen and (min-width:1024px){
    .ListCard-container{
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cards-list{
        width:45%;
        margin-right: 5px;
    }

    .footer ul{
        width: 50%;
    }
}